/* Logos */

/*.indiv-logos {
	width: 450px;
	float: left;
}

.indiv-logos-right {}


.indiv-logos img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/


body {
  background: #f5f5f5;
  font-family: open sans;
  font-size: 16px;
}


.row {
	margin: 0px;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

li {
	text-decoration: none;
	list-style-type: none;
}

.cns-header {
	float:right;
	margin: 0px !important;
}

a {
	color: #8DC63F;
	text-decoration: none;
	font-weight: 600;
	webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover {
	color: #769e36;
	text-decoration: none;
}


.logo {
	padding: 15px 15px 0 0;
}

.logo-indiv {
	margin-top: 10px;
}

.section {
	padding: 20px;
	margin: 15px 0px;
	background: #fff;
}

.row {

}
h2 {
	color: #303030;
	font-size: 26px;
	margin-top: 20px;
	font-weight: 600;
}

h3 {
	color: #303030;
	font-size: 22px;
	margin: 0px 0px 20px 0px;
	font-weight: 600;
}

h1 {
	font-size: 20px;
	margin-top: 10px;
	float:right;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}


.header h3 {
/*	font-family: 'open sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgb(39, 38, 38);
	color: #fff;
	padding: 5px;
	margin: 0px;
	text-align: center;*/
}


hr {
	background: #8DC63F;
	margin: 0;
	border: none;
	height: .25rem;
	width: 20%;
	margin-bottom: 60px;
}

/* --- Typography Examples -----*/


.example {
	margin: 1.5em;
}

.element {
	font-weight: 700;
	color: #b4b4b4;
	font-size: 18px;
	text-transform: uppercase;
}

.header-h2 {
	font-size: 25px;
}

.header-h1 {
	font-size: 32px;
}

.body {
	font-size: 16px;
}


.label-text {
	font-weight: 600; 
	font-size: 16px;
}

.axis-text {
	font-size: 13px;
	text-transform: capitalize;
}

.legend-container {
	margin-bottom: 20px;
}

.legend-container button:hover {
    background-color: #d8d8d8;
}

.legend-container button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: #eaeaea;
    color: rgba(0,0,0,0.87);
    border: .5px solid #afafaf;
    border-radius: 2px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.legend-item-label {
	font-size: 18px;
	font-weight: 600;
	color: rgba(0,0,0,0.87);
}

.legend-label {
	font-size: 13px;
	text-align: right;
}

/* Color swatches */

.color-item {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
	min-height: 300px;
          }

          .color-item span {
            display: block;
          }

          .color-img {
            display: block;
            margin-bottom: 0.5rem;
            width: 60px;
            height: 60px;
            border-radius: 60px;
          }
          .color1 {
            background-color: #8D1B18;
          }
          .color2 {
            background-color: #9B180F;
          }
          .color3 {
            background-color: #D30706;
          }
          .color4 {
            background-color: #D36E44;
          }
          .color5 {
            background-color: #D39827;
          }
          .color6 {
            background-color: #D372D2;
          }
          .color7 {
            background-color: #8E1BCE;
          }
          .color8 {
            background-color: #55D4D2;
          }
          .color9 {
            background-color: #0707D2;
          }
          .color10 {
            background-color: #33820D;
          }
          .color11 {
            background-color: #07D46D;
          }
          .color12 {
            background-color: #D3D406;
          }
          .color13 {
            background-color: #D3D46D;
          }
          .color14 {
            background-color: #000000;
          }
          .color15 {
            background-color: #aaaaaa;
          }
          .color16 {
            border: 1px solid #bdbdbd;
            background-color: #FFFFFF;
          }

/* -- Color Swatches -- */

/*.color-section {
	background: #ffffff;
	padding: 0px;
}

.color-section h2 {
}

#sample-container {
  margin-left: 0px !important;
}

#sample-container-2 {
	margin-left: 0px !important;
}

#legend {
	 clear:both;
}
*/


/* -- Color Picker --  */

/*.slider-title {
	display: inline;
	float: left;
}

.slider-title h4 {
	margin-left: 12px;
}

#slider-start, #slider-rotations, #slider-gamma, #slider-lightness, #slider-numcolors{
	margin: 10px;
	display: inline-block;
	width: 200px;
}

#colorpicker {
	height: 400px;
	width: 100%;
	margin: 0;
	padding-top: 10px;
}

#result {
	margin-top: 20px;
	height: 200px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	color: rgb(127, 127, 127);
}

#slider-start{
	background: #dddddd ;
}

#slider-rotations {
	background: #dddddd;
}

#slider-gamma {
	background: #dddddd;
}

#slider-lightness {
	background: #dddddd;
}

#slider-numcolors {
	background: #dddddd;
}*/
